*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url(ppp.jpg);
    background-repeat: no-repeat;
   background-size: 100% 100vh;
}

.in-6 input{
    font-size: 25px;
    height: 50px;
    width: 300px;
    border-radius: 40em;
    background:blue;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:none;
    transition: 0.9s;
    margin-left: -70px;
    margin-top: 550px;
    margin-left: 200px;
}

.in-6 input:hover{
transform: scale(1.1)
}